.documents {
    padding-bottom: 30px;

    &_container {
        padding: 15px;
    }

    &_text {
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
    }

    &_name {
        margin: 50px 0;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        font-weight: 400;
    }

    &_wrapper {
        @include flex();
        flex-wrap: wrap;
    }

    &_item {
        text-align: center;
        cursor: pointer;
        flex-basis: 25%;

        &-photo {
            margin: 0px auto 20px;
            transition: 0.3s linear all;

            &:hover {
                transform: scale(1.1);
            }
        }

        &-text {
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
        }
    }
}