// Button Settings 
.section_btn {
    text-align: center;
    margin-bottom: 60px;
}

.btn {
    background: none;
    width: 100%;
    max-width: 300px;
    height: 60px;
    border: 2px solid white;
    color: $secondaryTextColor;
    font-size: $textFontSize + 2;
    cursor: pointer;
    transition: $transition;
}

.btn:hover {
    background-color: #fff;
    color: $mainTextColor;

}

// Section title styles

.section_title {
    text-align: center;
    padding: 80px 0;
}

.title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
}

.title_border {
    margin: 0 auto;
}