// Button Settings 
.section_btn {
    text-align: center;
    margin-bottom: 60px;
}

.btn {
    background: none;
    width: 100%;
    max-width: 300px;
    height: 60px;
    border: 2px solid white;
    color: $secondaryTextColor;
    font-size: $textFontSize + 2;
    cursor: pointer;
    transition: $transition;
}

.btn:hover {
    background-color: #fff;
    color: $mainTextColor;

}

// Secondary Button

.item_btn {
    padding: 15px;
}

.secondary_btn {
    max-width: 180px;
    height: 40px;
    border: 2px solid #E28234;
    font-size: $textFontSize - 4;
    color: #E28234;
}

.secondary_btn:hover {
    background-color: #E28234;
    color: $secondaryTextColor;
}

// Section title styles

.section_title {
    text-align: center;
    padding: 60px 0;
}

.title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
}

.title_border {
    margin: 0 auto;
}

// Map location

.map {
    padding-bottom: 30px;
}

.map_address {
    padding-left: 15px;
    display: block;
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}