@media only screen and (min-width : 1199px) {}

@media only screen and (max-width : 991px) {
    .schedule_wrapper {
        justify-content: center;
    }

    .schedule_wrapper-item {
        margin-right: 15px;
        flex-basis: 33.333%;
    }

    .promotion_wrapper {
        flex-direction: column;
        justify-content: сenter;
        align-items: center;
    }

    .promotion_gallery {
        margin-bottom: 40px;
    }

    .promotion_gallery {
        justify-content: center;
    }


    .works_wrapper {
        justify-content: center;
    }

    .works_item {
        margin-bottom: 30px;
        flex-basis: 25%;
    }
}

@media only screen and (max-width : 867px) {

    .description_img {
        display: flex;
        justify-content: center;
        flex-basis: 100%;
        margin-bottom: 15px;
    }

    .description_content {
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        flex-basis: 100%;
    }

    .virtues_item {
        margin-right: 15px;
    }

}

@media only screen and (max-width : 767px) {
    .header_title {
        margin-top: 50px;
    }

    .header_subtitle {
        margin-bottom: 50px;
    }

    .reasons_wrapper-item {
        flex-basis: 50%;
    }


    .schedule_wrapper-item {
        flex-basis: 50%;
    }

    .instructors_wrapper-content {
        display: none;
    }

    .virtues_wrapper {
        justify-content: center;
    }

}

@media only screen and (max-width : 580px) {
    .explain_item {
        text-align: center;
        justify-content: center;

        &-image {
            margin: 0 auto 35px;
        }
    }

    .section_title {
        padding: 40px 0;
    }

    .title {
        font-size: 32px;
    }

    .promotion_gallery {
        margin-bottom: 30px;
    }

    .virtues_item-logo {
        margin: 10px auto;
    }

    .virtues_item-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .virtues_item-text {
        font-size: 14px;
    }

    .works_item {
        flex-basis: 45%;
    }
}

@media only screen and (max-width : 480px) {

    .header_title {

        & h1 {
            font-size: 45px;
            line-height: 48px;
        }
    }

    .header_subtitle {

        & p {
            font-size: $textFontSize + 2;
        }
    }

    .description {
        padding: 30px 0;
    }

    .reasons_wrapper-item {
        flex-basis: 100%;
    }

    .promotion_list-wrapp {
        flex-direction: column;
        margin-top: 25px;
    }

    .virtues_item {
        flex-basis: 100%;
    }

    .works_item {
        flex-basis: 100%;
    }
}

@media only screen and (max-width : 320px) {

    .header_nav {
        flex-direction: column;

        &-logo {
            margin-bottom: 20px;
        }
    }

    .header_title {
        margin-top: 25px;
    }

    .header_subtitle {
        margin-bottom: 30px;
    }

    .section_btn {
        margin-bottom: 40px;
    }

}