.works {
    padding-bottom: 30px;

    &_container {
        padding: 15px;
    }

    &_subtitle {
        text-align: center;
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
        margin-bottom: 45px;
    }

    &_wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &_item {
        text-align: center;
        margin-right: 15px;

        & img {
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }

    &_text {
        display: block;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 5px;
        font-weight: 400;
    }

    &_link {
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        transition: 0.1s linear all;
        color: $mainTextColor;

        &:hover {
            text-decoration: underline;
            color: #ea7231;
        }
    }
}